<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="homeCss.css">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body>

<div class="container">
    <div id="blog" class="row" >
        <div class="col-sm-2 paddingTop20" style="height: 1000px">
            <nav class="nav-sidebar" >
                <ul class="nav">
                    <li class="active"><a href="/blogs/create"><span class="glyphicon glyphicon-star"></span> Write Blog</a></li>
                    <li class="nav-divider"></li>
                    <th:block th:if="${currentUser}!=null">
                        <li ><span><i th:text="'Welcome  '+${currentUser.getName()}"></i> </span></li>
                    </th:block>

                    <th:block th:if="${currentUser}==null">
                    <li ><a href="/login"><i class="glyphicon glyphicon-off"></i> Sign in</a></li>
                    </th:block>
                </ul>
            </nav>
        </div>

        <th:block th:each="b:${listBlogs}">
        <div class="col-md-10 blogShort">
            <h1 th:text="${b.title}"></h1>
            <article><p th:text="${b.shortContent}">
            </p></article>
            <a class="btn btn-blog pull-right marginBottom10" th:href="@{'/blogs/edit/'+${b.id}}">EDIT</a>
            <a class="btn btn-blog pull-right marginBottom10" th:href="@{'/blogs/detail/'+${b.id}}">READ MORE</a>

        </div>
        </th:block>

        <div class="col-md-12 gap10"></div>

    </div>
</div>
</body>
</html>